    RewriteEngine On
    # Unless directory, remove trailing slash
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([^/]+)/$ https://phppoc12.herokuapp.com//$1 [R=301,L]
    # Redirect external .php requests to extensionless url
    RewriteCond %{THE_REQUEST} ^(.+)\.php([#?][^\ ]*)?\ HTTP/
    RewriteRule ^(.+)\.php$ https://phppoc12.herokuapp.com//$1 [R=301,L]
    # Resolve .php file for extensionless php urls
    RewriteRule ^([^/.]+)$ $1.php [L]
    <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>
